# =========================
# SECRETOS
# =========================
.env
**/.env
application-dev.properties
application-prod.properties

# =========================
# BUILD
# =========================
target/
*.class
*.log
*.jar
*.war

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP
# =========================
*.tmp
*.cache
/.metadata/
