# Java / Maven
target/
*.class
*.jar.original
*.log

# SECRETOS
.env
**/.env

# Docker
docker-compose.override.yml

# Node / React
node_modules/
build/

# =========================
# BUILD
# =========================
target/
*.class
*.log
*.jar
*.war

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP
# =========================
*.tmp
*.cache
/.metadata/
